@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.contenar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    border: 1px solid #351165;
}
.navber{
    cursor: pointer;
}
.img{
    display: none;
}
.span1{
    color: #FFFFFF;
}
.span2{
    color: rgb(222, 15, 188);

}
.contenar ul {
    display: flex;
    list-style: none;
}
.contenar ul li a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 32px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border: none;
    padding: 13px 25px;
    border-radius: 10000px;
    color: #FFFFFF;
    cursor: pointer;
    background:linear-gradient(60deg, rgb(225, 225, 23), rgb(225, 23, 225));
}
.btn img{
    gap: 4px;
    
}
.benar{
    max-width: 100%;
    height: 760px;
    padding: 60px 20px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.benar-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.benar-img img{
    max-width: 350px;
    width: 100%;
    height: auto;
}
.benar-img .new{
    position: absolute;
    top: 0px;    
    right: 20px; 
    z-index: 10;
    cursor: pointer;
}
.benar-img2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.benar-img2 img{
    max-width: 120px;
}
.benar-content{
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin-top: 10px;
}
.benar-content h1{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: extra-bold;
    margin-top: 20px;
}
.btn, .btn-2, .card-item{
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn:hover, .btn-2:hover, #headphone:hover, #mobail:hover, #global:hover, #exclusive:hover, #rich:hover, .card:hover{
    transform: translateY(-5px) ; 
    box-shadow: 0 10px 20px rgba(228, 103, 103, 0.3);
}
.new:hover{
    transform: translateY(-5px) ; 
}
.benar-content .btn-2{
    justify-content: center;
    margin-left: 10px;
    padding: 13px 25px;
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 10000px;
    background: none;
    cursor: pointer;

}


.benar-content p{
    color: #ffffffba;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.6;
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.btn img, .btn-2 img{
    margin: 0 4px;
    width: 20px;
    height: auto;
}
.btn, .btn-2{
    margin-top: 24px;
}

.about{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content h1{
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}
.about-content p{
    margin-top: 16px;
    max-width: 1200px;
    color: #ffffffba;

}
.content{
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
}
.count{
    max-width: 240px;
    height: 94px;
    margin-bottom: 16px;
}
.count h1{
    font-size: 48px;
    font-weight: black;
    color: #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.count h1 i{
    width: 0px;
    height: auto;
    display: inline-block;
}
.count h5{
    color: #ffffffd7;
}
.tech-wave{
    margin-top: 120px;
    max-width: 100%;
    height: 1121px;
    padding: 120px 200px;
    background-color: #351165;
}
.tech-wave h1{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}
.color i{
    color: #00FF88;
}
#headphone{
    background-color: #250D44;
    
    padding: 40px;
    max-width: 380px;
    height: 480px;
    border-radius: 40px;
    grid-area: headphone;
}
#headphone img{
    margin-bottom: 16px;

}
#headphone h2{
    margin-bottom: 16px;
    color: #FFFFFF;
}
#mobail{
    padding: 40px;
    width: 790px;
    height: 225px;
    border-radius: 40px;
    grid-area: mobail;
    background-color: #250D44;

}
#mobail img{
    margin-bottom: 16px;
}
#mobail h2{
    margin-bottom: 16px;
    color: #FFFFFF;
}
#global{
    padding: 40px;
    width: 790px;
    height: 225px;
    border-radius: 40px;
    grid-area: global;
    background-color: #250D44;
}
#global img{
    margin-bottom: 16px;
}
#global h2{
    margin-bottom: 16px;
    color: #FFFFFF;
}
#exclusive{
    padding: 40px;
    width: 790px;
    height: 273px;
    border-radius: 40px;
    grid-area: exclusive;
    background-color: #250D44;
}
#exclusive img{
    margin-bottom: 16px;
}
#exclusive h2{
    margin-bottom: 16px;
    color: #FFFFFF;
}

#rich{
    padding: 40px;
    width: 380px;
    height: 273px;
    border-radius: 40px;
    grid-area: rich;
    background-color: #250D44;
}
#rich img{
    margin-bottom: 16px;
}
#rich h2{
    margin-bottom: 16px;
    color: #FFFFFF;
}

#headphone, #rich, #exclusive, #global, #mobail p{
    color: #ffffffba;
}
.tech-wave-grid{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "headphone mobail mobail "
    " headphone global global"
    "exclusive exclusive rich";
    cursor: pointer;

}
.Featured{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Featured-titel{
    margin-top: 120px;
    color: #FFFFFF;
    text-align: center;
}
.card{
    margin-top: 40px;
    max-width: 380px;
    height: 440px;
    border-radius: 10px;
    background-color: #351165;
}
.card iframe{
    width: 100%;
    height: 214px;

}
.text, .time, .p{
    background-color: #351165;
}
.text{
    padding: 24px;
}
.text h2{
    color: #FFFFFF;
    margin-bottom: 12px;
}
.time{
    display: flex;
    color: #00FF88;
    margin-top: 12px;
    gap: 5px;
}
 .meet{
    margin-top: 120px;
    margin-bottom: 120px;
    
 }
 .meet-titel{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;

 }
.meet-conten{
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    background-color: #351165;
    margin: 0 auto;
    
}
.meet-conten .host{
    width: 200PX;
    height: 200px;
    border-radius: 50%;
}  
.meet-conten h2{
    color: #FFFFFF;
    font-size: 30px;
    width: 896px;
    height: 39px;
}
.text{
    color: #FFFFFF;
}
.meet-conten p{
    margin-top: 16px;
    color: #ffffffba;
}
.meet-conten{
    border-radius: 40px;
    margin: 0 auto;
}
.icon img{
    margin-top: 16px;
    margin-right: 10px;
    border: 1px solid #fefeff;
    border-radius: 50%;
    padding: 6px;
    margin-top: 16px;
    cursor: pointer;

    
}
.tech{
    background-image: url(../assets/footer-bg.png);
    width: 100%;
    height: 412px;
    background-size: cover;
    background-position: center;
    padding: 120px;
}

.tech-content h1{
    font-size: 70px;
    text-align: center;
    margin-bottom: 10px;
}
.icon-tech h3{
    font-size: 16px;
    gap: 20px;
    cursor: pointer;
}
.icon-tech{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #ffffffba;
}
.icon-ber{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.foot{
    text-align: center;
    margin: 0 auto;
} 
.foot p{
    color: #ffffffba;
}

.hiad{
    display: none;
}
@media screen and (max-width:576px) {
    .contenar{
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    .img {
        margin-left: 200px;
        display: block;
        cursor: pointer;
    }
    .img:hover{
        transform: translateY(-+5px) ; 
        box-shadow: 0 10px 20px rgb(31, 227, 54);
    }

    .contenar ul {
        display: none;
    }
    .flex .btn{
        display: none;
    }

    .benar { 
        max-width: 100%; 
        height: auto; 
        padding: 40px 20px; 
        background-size: cover; 
    } 
    .benar-img {
        width: 200px;
        height: 200px;
        position: relative;
        top: 70px;
    }
    .benar-img .new {
        width: 70px;
        height: 35px;
        position: absolute;
        right: 1px;
    }
    .benar-img2 img{
        width: 80px;
        height: 80px;
        position: absolute;
        transform: translate(-50%, -170%);
    }
    .benar h1, p{
        margin-top: 40px;
        width: 100%;
    }
    .content{ 
        margin-top: 40px; 
        display: grid; 
        grid-template-columns: 
        repeat(2, 180px); gap: 40px; 
        padding: 20px;
    } 
    .benar-content h1 { 
        color: #FFFFFF;
        font-size: 42px; 
        margin-top: 30px; 
    } .about-content h1{ 
        margin-top: 30px; 
        font-size: 32px; 
    } 
    .about-content p, p{
        margin-top: 16px; 
        margin-bottom: 40px; 
        max-width: 100%; 
    }
    .tech-wave { 
        margin-top: 30px;
         max-width: 100%; 
         height: auto; 
         padding: 10px;
    }
    .tech-wave {
        margin-top: 30px;
        max-width: 100%;
        height: auto;
        padding: 10px;

    }
    .tech-wave-grid {
        margin-top: 30px;
        height: auto;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "headphone"
        "mobail"
        "global"
        "exclusive"
        " rich";
    }
    #headphone {
        background-color: #250D44;
        padding: 20px;
        max-width: 100%;
        height: auto;
        border-radius: 20px;

    }
    #mobail {
        padding: 20px;
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    #global {
        padding: 20px;
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    #exclusive {
        padding: 20px;
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    #rich {
        padding: 20px;
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    .tech-wave h1 {
        font-size: 30px;
        margin-bottom: 12px;

    }
    .Featured-titel {
        margin-top: 10px;
    }
    .Featured {
        display: flex;
        flex-direction: column;
    }   
    .card {
        margin-top: 10px;
        max-width: 95%;
        height: auto;
        border-radius: 10px;;
    }
    .meet {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .meet-titel {
        color: #FFFFFF;
        text-align: center;
    }
    .meet-conten {
        width: 95%;
        height: auto;
        flex-direction: column;
        text-align: center;
    
    }
    .meet-conten h2 {
        width: 100%;
        color: #FFFFFF;
        font-size: 10px;
    }
    .tech {
        background-image: url(../assets/footer-bg.png);
        height: auto;
        background-size: cover;
        padding: 10px;
    }
   
    .tech-content h1 {
        font-size: 36px;
        line-height: 1.2;
    }
    .icon-tech h3{
        font-size: 10px;
        gap: 10px;
    }
    .icon-ber {
        display: grid;
        grid-template-columns: repeat(2, 90px);
        justify-content: center;
        align-items: center;
    }
    .foot{
        text-align: center;
        font-size: 10px;
    }
}