@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.contenar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}
.span1{
    color: #FFFFFF;
}
.span2{
    color: rgb(222, 15, 188);

}
.contenar ul {
    display: flex;
    list-style: none;
}
.contenar ul li a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 32px;
}
.btn{
    border: none;
    padding: 12px 24px;
    border-radius: 10000px;
    background:linear-gradient(60deg, rgb(225, 225, 23), rgb(225, 23, 225));
}
.btn img{
    gap: 4px;
    
}
.benar{
    max-width: 100%;
    height: 760px;
    padding: 101px 525px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
}
.benar-img{
  position: relative;
  
  margin: 0;
  bottom: 100px;
  text-align: center;
}
.benar-img .new{
    position: relative;
    top: 100px;    
    right: 10px; 
    left: 110px;
}
.benar-img2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.benar-content{
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.benar-content h1{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: extra-bold;
    margin-top: 40px;
}
.benar-content {
    margin-top: 10px;
}
.benar-content .btn-2{
    margin-left: 10px;
    padding: 13px 20px;
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 10000px;
    background: none;
}
.btn, .btn-2{
    margin-top: 24px;
}
.benar-content p{
    color: #ffffffba;
    margin-top: 10px;
}
.about{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content h1{
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}
.about-content p{
    margin-top: 16px;
    max-width: 1200px;
    color: #ffffffba;

}
.content{
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
}
.count{
    max-width: 240px;
    height: 94px;
}
.count h1{
    font-size: 48px;
    font-weight: black;
    color: #00FF88;

}
.count h5{
    color: #ffffffd7;
}
.tech-wave{
    margin-top: 120px;
    max-width: 100%;
    height: 1121px;
    padding: 120px 200px;
    background-color: #351165;
}
.tech-wave h1{
    background: none;
    color: #FFFFFF;
    text-align: center;
    grid-area: titel;

}
#headphone{
    background-color: #250D44;
    
    padding: 40px;
    max-width: 380px;
    height: 480px;
    border-radius: 40px;
    grid-area: headphone;
}
#headphone img{
    margin-bottom: 16px;

}
#headphone h2{
    margin-bottom: 16px;
    color: #FFFFFF;
}
#mobail{
    padding: 40px;
    width: 790px;
    height: 225px;
    border-radius: 40px;
    grid-area: mobail;
    background-color: #250D44;

}
#mobail img{
    margin-bottom: 16px;
}
#mobail h2{
    margin-bottom: 16px;
    color: #FFFFFF;
}
#global{
    padding: 40px;
    width: 790px;
    height: 225px;
    border-radius: 40px;
    grid-area: global;
    background-color: #250D44;
}
#global img{
    margin-bottom: 16px;
}
#global h2{
    margin-bottom: 16px;
    color: #FFFFFF;
}
#exclusive{
    padding: 40px;
    width: 790px;
    height: 273px;
    border-radius: 40px;
    grid-area: exclusive;
    background-color: #250D44;
}
#exclusive img{
    margin-bottom: 16px;
}
#exclusive h2{
    margin-bottom: 16px;
    color: #FFFFFF;
}

#rich{
    padding: 40px;
    width: 380px;
    height: 273px;
    border-radius: 40px;
    grid-area: rich;
    background-color: #250D44;
}
#rich img{
    margin-bottom: 16px;
}
#rich h2{
    margin-bottom: 16px;
    color: #FFFFFF;
}

#headphone, #rich, #exclusive, #global, #mobail p{
    color: #ffffffba;
}
.tech-wave{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "titel titel titel"
    "headphone mobail mobail "
    " headphone global global"
    "exclusive exclusive rich";

}
.Featured{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Featured-titel{
    margin-top: 120px;
    color: #FFFFFF;
    text-align: center;
}
.card{
    margin-top: 40px;
    max-width: 380px;
    height: 440px;
    border-radius: 10px;
    background-color: #351165;
}
.card iframe{
    width: 100%;
    height: 214px;

}
.text, .time, .p{
    background-color: #351165;
}
.text{
    padding: 24px;
}
.text h2{
    color: #FFFFFF;
    margin-bottom: 12px;
}
.time{
    display: flex;
    color: #00FF88;
    margin-top: 12px;
    gap: 5px;
}
 .meet{
    margin-top: 120px;
    margin-bottom: 120px;
    
 }
 .meet-titel{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;

 }
.meet-conten{
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    background-color: #351165;
    margin: 0 auto;
    
}


.meet-conten .host{
    width: 200PX;
    height: 200px;
    border-radius: 50%;
}  
.meet-conten h2{
    color: #FFFFFF;
    font-size: 30px;
    width: 896px;
    height: 39px;
}
.text{
    color: #FFFFFF;
}
.meet-conten p{
    margin-top: 16px;
    color: #ffffffba;
}
.meet-conten{
    border-radius: 40px;
    margin: 0 auto;
}
.icon img{
    margin-top: 16px;
    margin-right: 10px;
    border: 1px solid #fefeff;
    border-radius: 50%;
    padding: 6px;
    margin-top: 16px;

    
}
.tech{
    background-image: url(../assets/footer-bg.png);
    width: 100%;
    height: 412px;
    background-size: cover;
    background-position: center;
    padding: 120px;
}

.tech-content h1{
    font-size: 70px;
    text-align: center;
    margin-bottom: 10px;
}
.icon-tech{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #ffffffba;
}
.icon-ber{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 40px;
    margin-bottom: 40px;
}
.foot{
    text-align: center;
    margin: 0 auto;
} 
.foot p{
    color: #ffffffba;
}
@media screen and (max-width: 576px) {
    /* .benar{
        width: 440px;
        height: 466px;
        padding: 10px;
    } */
}

